[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
python-dotenv = "*"
langchain-core = "*"
langchain-community = "*"
google-generativeai = "*"
langchain-google-genai = "==1.0.3"
flask = "*"
flask-cors = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
